name: Build images

on:
  push:
    branches:
      - main
    paths:
      - 'containerfiles/**'

jobs:
  find-changed-images:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          diff_relative: true
          dir_names: true
          dir_names_max_depth: 2
          matrix: true
          path: 'containerfiles'
          quotepath: false

  build-changed-images:
    runs-on: ubuntu-latest
    if: ${{ needs.find-changed-images.outputs.matrix != '' }}
    strategy:
      matrix:
        files: ${{ fromJson(needs.find-changed-images.outputs.matrix) }}
    needs:
      - find-changed-images
    env:
      REGISTRY: registry.alebcay.com
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Get container image tags
        id: get-tag
        env:
          image_name: ${{ matrix.files }}
        run: echo "tag=$(tr -d '\n' < "containerfiles/${image_name}/VERSION")" >> "${GITHUB_OUTPUT}"

      - name: Build container image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          context: containerfiles/${{ matrix.files }}
          containerfiles: containerfiles/${{ matrix.files }}/Containerfile
          platforms: linux/amd64
          tags: ${{ env.REGISTRY }}/${{ matrix.files }}:${{ steps.get-tag.outputs.tag }}

      - name: Push container image
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        with:
          tags: ${{ env.REGISTRY }}/${{ matrix.files }}:${{ steps.get-tag.outputs.tag }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
