name: Rebuild image

on: 
  workflow_dispatch:
    inputs:
      image_name:
        description: 'Image name'
        required: true

jobs:
  rebuild-image:
    runs-on: ubuntu-latest
    env:
      REGISTRY: registry.alebcay.com
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Login to container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Get container image tags
        id: get-tag
        env:
          image_name: ${{ github.event.inputs.image_name }}
        run: echo "tag=$(tr -d '\n' < "containerfiles/${image_name}/VERSION")" >> "${GITHUB_OUTPUT}"

      - name: Build and push container image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6.16.0
        with:
          context: containerfiles/${{ github.event.inputs.image_name }}
          file: containerfiles/${{ github.event.inputs.image_name }}/Containerfile
          platforms: linux/amd64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.event.inputs.image_name }}:${{ steps.get-tag.outputs.tag }}
