name: Rebuild image

on: 
  workflow_dispatch:
    inputs:
      image_name:
        description: 'Image name'
        required: true

jobs:
  rebuild-image:
    runs-on: ubuntu-latest
    env:
      REGISTRY: registry.alebcay.com
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Log in to registry
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1.7
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          registry: ${{ env.REGISTRY }}

      - name: Build container image
        env:
          image_name: ${{ github.event.inputs.image_name }}
        run: |
          ./scripts/build-image.sh "${REGISTRY}" "containerfiles/${image_name}"

      - name: Push container image
        env:
            image_name: ${{ github.event.inputs.image_name }}
        run: |
          ./scripts/push-image.sh "${REGISTRY}" "containerfiles/${image_name}"
