name: Test pull request changes (images)
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'containerfiles/**'

jobs:
  find-changed-images:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@d6e91a2266cdb9d62096cebf1e8546899c6aa18f # v45.0.6
        with:
          diff_relative: true
          dir_names: true
          dir_names_max_depth: 2
          matrix: true
          path: 'containerfiles'
          quotepath: false

  build-changed-images:
    runs-on: ubuntu-latest
    if: ${{ needs.find-changed-images.outputs.matrix != '' }}
    strategy:
      matrix:
        files: ${{ fromJson(needs.find-changed-images.outputs.matrix) }}
    needs:
      - find-changed-images
    env:
      REGISTRY: registry.alebcay.com
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 # v3.8.0

      - name: Get container image tags
        id: get-tag
        env:
          image_name: ${{ matrix.files }}
        run: echo "tag=$(tr -d '\n' < "containerfiles/${image_name}/VERSION")" >> "${GITHUB_OUTPUT}"

      - name: Build container image
        uses: docker/build-push-action@b32b51a8eda65d6793cd0494a773d4f6bcef32dc # v6.11.0
        with:
          context: containerfiles/${{ matrix.files }}
          file: containerfiles/${{ matrix.files }}/Containerfile
          platforms: linux/amd64,linux/arm64
          push: false
          tags: ${{ env.REGISTRY }}/${{ matrix.files }}:${{ steps.get-tag.outputs.tag }}
