name: Test pull request changes (images)
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'containerfiles/**'

jobs:
  find-changed-images:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          diff_relative: true
          dir_names: true
          dir_names_max_depth: 2
          matrix: true
          path: 'containerfiles'
          quotepath: false

  build-changed-images:
    runs-on: ubuntu-latest
    if: ${{ needs.find-changed-images.outputs.matrix != '' }}
    strategy:
      matrix:
        files: ${{ fromJson(needs.find-changed-images.outputs.matrix) }}
    needs:
      - find-changed-images
    env:
      REGISTRY: registry.alebcay.com
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Build container image
        env:
          image_name: ${{ matrix.files }}
        run: |
          ./scripts/build-image.sh "${REGISTRY}" "containerfiles/${image_name}"
